.notes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem;
    transition: 3s;
}

.note {
    width: 100px;
    height: 100px;
    color: white;
    overflow: hidden;
    font-size: 0.7rem;
    cursor: pointer;
    position: relative;
}

.note::before {
    content: '';
    width: 0;
    height: 0;
    border: 14px solid white;
    position: absolute;
    top: -13px;
    right: -15px;
    transform: rotate(-222deg);
}

.display-note {
    padding: 1.5rem;
    width: 100%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #eee;
    color: black;
    font-size: 1rem;
    transition: 3s;
}

.display-note p {
    width: 500px;
    overflow-wrap: break-word;
}

.btn-note {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 4rem;
    right: 50%;
    transform: translateX(50%);
}

.empty {
    margin: 2rem auto;
}